<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head.ejs') %>
    <title>Awesome cheatsheets</title>
  </head>
  <body>
    <%- include('/partials/header.ejs') %>
    <main>
      <h1>Awesome cheatsheets !</h1>
      <div class="quick-access">
        <% for(let category of categories) { %>
          <a href="#<%= category.id %>" class="chip"><span class="material-symbols-outlined"><%= category.icon %></span><%= category.name %></a>
        <% } %>
      </div>
      <% for(let category of categories) { %>
        <% if(cheatsheetsCategories[category.id]?.length > 0) { %>
          <% var cheatsheetsContext = cheatsheetsCategories[category.id]; %>
          <h2><span class="material-symbols-outlined"><%= category.icon %></span><%= category.name %></h2>
          <div class="cards" id="<%= category.id %>">
          <% for(var i = 0; i < cheatsheetsContext.length; i++) { %>
              <% var cheatsheetContext = cheatsheetsContext[i]; %>
            <a class="card" href="./<%= cheatsheetContext.cheatsheet %>/">
              <div class="circle">
                <img src="<%= cheatsheetContext.cheatsheet %>/<%= cheatsheetContext.icon %>" />
              </div>
              <label><%= cheatsheetContext.title %></label>
              <p><%= cheatsheetContext.description %></p>
            </a>
          <% } %>
          </div>
        <% } %>
      <% } %>
    </main>
    <%- include('/partials/footer.ejs') %>
  </body>
</html>