<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head.ejs') %>
    <title>Awesome cheatsheets</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <%- include('/partials/header.ejs') %>
    <main>
      <h1>Awesome cheatsheets !</h1>
      <div class="cards">
      <% for(var i = 0; i < cheatsheetsContext.length; i++) { %>
        <a class="card" href="/<%= cheatsheetsContext[i].cheatsheet %>/cheatsheet.html">
          <div class="circle">
            <img src="<%= cheatsheetsContext[i].cheatsheet %>/<%= cheatsheetsContext[i].icon %>" />
          </div>
          <label><%= cheatsheetsContext[i].title %></label>
          <p><%= cheatsheetsContext[i].description %></p>
        </a>
      <% } %>
      </div>
    </main>
    <%- include('/partials/footer.ejs') %>
  </body>
</html>